<footer class="site-footer outer">
    <div class="site-footer-content inner">
        <section class="copyright">&copy; {{date format="YYYY"}} <a href="https://aclum.org">ACLU of Massachusetts</a></section>
        <nav class="site-footer-nav">
            <a href="/contact/" target="_blank">Contact Us</a>
            <a href="/privacy-policy/">Privacy Policy</a>
        </nav>
    </div>
</footer>
